.header{
	/*position: fixed;
	width: 100%;
    top: 20px;
    left: 97px;*/
}
.logo{
	float: left;
	width: 196.73px;
	height: 60px;
	display: block;
	margin-bottom: 19.8px;
}
.ul{
	float: left;
	display: block;
}
.nav-li{
	font-family: 'Roboto', sans-serif;
	margin-right: 50px;
	float: left;
	margin-top: 25px;
	font-size: 24px; 
	color: #3D58A6;
	text-decoration: none;
	width: 68px;
	height: 32px;
	display: block;
}
.nav-li-1{
	font-family: 'Roboto', sans-serif;
    margin-right: 50px;
	margin-left: 103px;
	float: left;
	margin-top: 25px;
	font-size: 24px; 
	color: #3D58A6;
	text-decoration: none;
	width: 68px;
	height: 32px;
	display: block;
}
.img{
	width: 1170px;
	height: 460px;
	margin-left: 250px;
	margin-top: 30px;
	margin-bottom: 21px;
}
.navigation{
	margin-top: 20px;
	margin-left: 90px;
}
.wraper{
	position: relative;
}
.text{
	top: 100px;
	left: 150px;
	position: absolute;
	margin-left: 128px;
	margin-top: 291px;
	color: #E6E6E6;
	font-size: 30px;
	width: 339px;
	height: 147px;
}

.div-1{
	background-color: #E6E6E6;
}
.clear{
	clear: both;
}
.box{
	background-color: #363E97;
	width: 1663px;
	height: 500px;
}
.p{
	font-size: 24px; 
	color:#FFFFFF;
	width: 254px;
	height: 32px;
	margin-left: 99px;
	padding-top: 30px;
}
.box-1{
	border:160px solid white;
	color: white;
	width: 570px;
	height: 320px;
	float: left;
	margin-left: 98px;
	margin-top: 90px;
}
.box1{
	background-color: #BDCCD4;
	width: 1663px;
	height: 450px;
}
.p-1{
	font-size: 24px;
	color: #3D58A6;
	width:225px;
	height:32px;
	padding-top: 30px;
	margin-left: 98px;
}
.imgline{
	padding-top:  90px;
	padding-right: 30px;
}
.imgline-1{
	padding-top:  90px;
	padding-right: 30px;
	padding-left: 98px;
}
.f{
 float: left;

}
.f-1{
float: left;
}
.f-2{
float: left;
}
.f-3{
float: left;
}
.pline1{
	padding-left:121px;
	font-size: 22px;
	color: #333333;
	padding-top: 13px;

}

.pline2{
	
	font-size: 22px;
	color: #333333;
	padding-top: 13px;

}
.pline3{
	
	font-size: 22px;
	color: #333333;
	padding-top: 13px;

}
.pline4{
	
	font-size: 22px;
	color: #333333;
	padding-top: 13px;

}